{% extends 'market/base.html' %}

{% block content %}
<p>Привет!Ты уже знаешь, что хочешь купить?</p>
<h2>Доступные товары</h2>
<ul>
    {% for product in products %}
    <li>
        {{ product.name }} - {{ product.price }}
        <form method="post" action="{% url 'place_order' product.id %}">
            {% csrf_token %}
            <input type="number" name="quantity" min="1" max="{{ product.quantity }}" value="1">
            <button type="submit">Заказать</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
