<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags for Bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}

    <title>Marketplace Home</title>

    
    
</head>
<body>
    <div class="main">
        <div class="entrance">
            <!-- Buttons trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Вход</button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registerModal">Регистрация</button>
        </div>
        <div class="menu-bar">
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a href="#holiday" class="menu-item orange">Праздник</a></li>
                    <li class="nav-item"><a href="#dishes" class="menu-item">Посуда</a></li>
                    <li class="nav-item"><a href="#furniture" class="menu-item">Мебель</a></li>
                </ul>
            </nav>
        </div>
        <div class="title">
            <p>ДОБРО ПОЖАЛОВАТЬ В НАШ МАГАЗИН</p>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Вход в систему</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="loginForm" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username-login">Имя пользователя</label>
                            <input type="text" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="loginEmail">Email адрес</label>
                            <input type="email" class="form-control" id="loginEmail" required>
                        </div>
                        <div class="form-group">
                            <label for="loginPassword">Пароль</label>
                            <input type="password" class="form-control" id="loginPassword" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if form.errors %}
                <div class="formErrors">
                {% for field in form %}
                 {% for error in field.errors %}
                 <div>{{ error }}</div>
                {% endfor %}
                 {% endfor %}
                 </div>
                {% endif %}
                <div class="modal-body">
                    <form method="post" action="{% url 'register' %}">  <!-- Обновите URL в соответствии с вашими настройками urls.py -->
            {% csrf_token %}
            <div class="form-group">
                <label for="role">Я хочу зарегистрироваться как:</label>
                <div>
                    <label for="buyer">Покупатель</label>
                    <input type="radio" id="buyer" name="role" value="buyer" checked required>
                    
                </div>
                <div>
                    <label for="seller">Продавец</label>
                    <input type="radio" id="seller" name="role" value="seller" required>
                    
                </div>
                <input type="hidden" name="role" id="hiddenRole" value="buyer">
            </div>
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" required autocomplete="username">
            </div>
            <div class="form-group">
                <label for="registerEmail">Email адрес</label>
                <input type="email" class="form-control" id="registerEmail" name="email" required autocomplete="email">
            </div>
            <div class="form-group">
                <label for="registerPassword">Пароль</label>
                <input type="password" class="form-control" id="registerPassword" name="password" required autocomplete="current-password">
            </div>
            <div class="form-group">
                <label for="registerPassword2">Подтвердите пароль</label>
                <input type="password" class="form-control" id="registerPassword2" name="password2" required autocomplete="current-password">
            </div>
            <div class="form-group company-name" style="display: none;">
                <label for="companyName">Название компании</label>
                <input type="text" class="form-control" id="companyName" name="company_name">
            </div>
            <button type="submit" class="btn btn-secondary">Регистрация</button>
        </form>
    </div>

    <!-- Bootstrap and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  
    <!-- Custom script for handling login/register -->
    <script src="{% static 'js/form_behavior.js' %}"></script>
    <script src="{% static 'js/formHandler.js' %}"></script>

</body>
</html>
